name: "Main CI Flow for Clerk-python-SDK"

# This workflow is based on the example @ https://docs.github.com/en/actions/examples/using-scripts-to-test-your-code-on-a-runner
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  run-tests:
    runs-on: ${{ fromJSON('["ubuntu-latest", "self-hosted"]')[github.repository == 'github/docs-internal'] }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Consider doing this with a matrix-build, to verify compatibility
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
        # Intentionally running latest, as devs should too - might as well break fast
      - name: Run image
        uses: abatilo/actions-poetry@v2
      - name: Run tests project
        run: |
          poetry install --no-root
          poetry run pytest
          poetry run black --check ./clerk
